{% extends 'myapp/base.html' %}

{% block title %}
about
{% endblock title %}

{% block body %}

<!doctype html>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/heroes/">

    

    <!-- Bootstrap core CSS -->
<link href="../myapp/bootstrap.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
   

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">О нас!</h1>
      <div class="col-lg-4 mx-auto">
        <p class="fs-5 mb-4">В этом магазне мы продаём разные вещи в основном это электроника по типу: Ноутбуков, Вентиляторов и т.д</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider mb-0"></div>


    <script src="../myapp/bootstrap.js"></script>

      
  </body>
</html>

{% endblock body %}