{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}
home
{% endblock title %}

{% block body %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://openshop.uz/public/storage/uploads/products/photos/202301/GaC73um0EwsIcuPWTtHnaBzK7bxMNJvRuKUrpJsg.jpg"
                 class="d-block w-45" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-dark">Телефоны</h5>

            </div>
        </div>
        <div class="carousel-item">
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/airpods-max-hero-select-202011_FMT_WHH?wid=607&hei=556&fmt=jpeg&qlt=90&.v=1633623988000" class="d-block w-45" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-dark">Наушники</h5>

            </div>
        </div>
        <div class="carousel-item">
            <img src="https://assets-prd.ignimgs.com/2023/05/01/alienwarem16-1682980673533.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-dark">Ноутбуки</h5>

            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.pcmag.com/imagery/reviews/03PrwgjTCnV1IXtnerWwn04-1..v1638402331.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-dark">Телевизор</h5>

            </div>
        </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock body %}

